*   {
    background-color: black;
}
header  {
    font-family: "Inconsolata";
    font-size: 48px;
    text-align: center;
    padding-top: 10%;
}

.container  {
    align-sel;
    height: 400px;
    width: 400px;
    background-color: #F5F5F5;
    display: grid;
    align-content: c;
}